// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/include/ "zynq-7000.dtsi"

/* NIDEVCODE 78AA */

/ {
	model = "NI SLSC-12001";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	aliases {
		serial0 = &ni_uart0;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};
	
	amba: axi {
		ni_uart0: serial@80000000 {
			device_type = "serial";
			compatible = "ns16550a";
			status = "okay";
			reg = <0x80000000 0x8>;
			interrupts = <0 30 4>;
			clock-frequency = <58824000>;
			/* Populated by the bootloader */
			/* current-speed = <0>; */
		};
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&uart1 {
		status = "okay";
};

