// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/include/ "ni-zynq.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/* NIDEVCODE 78AA */

/ {
	model = "NI SLSC-12001";
	compatible = "ni,zynq", "xlnx,zynq-7000";

	amba: axi {
		slscfpga@80000000 {
			compatible = "ni,slscfpga";
			reg = <0x80000000 0x30000>;
			interrupts = <0 29 4>;
		};
	};
};

&ni_uart0 {
		status = "okay";
		compatible = "ns16550a";
		interrupts = <0 30 IRQ_TYPE_LEVEL_HIGH>;
		ni,serial-port-mode = "RS-232";
};

&uart1 {
		status = "okay";
};

&usb1 {
		status = "okay";
		dr_mode = "host";
};

